<div class="w-full max-w-xs mx-auto">
  <div class="bg-white shadow-md rounded p-8">
    <form class="mb-4" {{ on 'submit' this.onSubmit }}>
      <div class="mb-4">
        <h1 class="text-xl text-purple-500">FizzBuzz</h1>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="integer">Type an integer</label>
        <Input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="integer"
               @value={{this.integer}}
               type="number"/>
      </div>
      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
              type="submit">
        Submit
      </button>
    </form>
    {{#if this.submitted}}
      <hr class="mb-4" />
      <div class="mb-4">
        <span class="block text-gray-700 text-sm font-bold mb-2">Result :</span>
      </div>
      <div class="mb-4">
        {{this.result}}
      </div>
    {{/if}}
  </div>
</div>
