<Ui::Field @id="integer" @label="Type an integer">
  <Input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
         id="integer"
         @value={{@value}}
         type="number"/>
</Ui::Field>
