<div data-test="fizzbuzz">
  <h1>FizzBuzz</h1>

  <div>
    <label for="fizzbuzz-picker">Choose an integer: </label>
    <Input data-test="fizzbuzz-picker" type="number" id="fizzbuzz-picker" @value={{ this.integer }} />
    <button data-test="fizzbuzz-submit" type="submit" {{on "click" this.onSubmit }}>Submit</button>
  </div>
  <div data-test="fizzbuzz-result">{{ this.result }}</div>

  {{outlet}}
</div>