<div data-test="fizzbuzz">
  <h1>Fizzbuzz</h1>
  <form {{on "submit" this.submit}}>
    <label for="fizzbuzz-picker">Choose an integer</label>
    <Input type="number"
           id="fizzbuzz-picker"
           data-test="fizzbuzz-picker"
           @value={{this.integer}} />
    <button data-test="fizzbuzz-submit" type="submit">
      Submit
    </button>
  </form>
  <div data-test="fizzbuzz-result">{{ this.result }}</div>
</div>